<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" , initial-scale='1.0'>
	<title>{% block title %}{{ title }}{% endblock title %}</title>
	<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
	<header>{% include "nav.html" %}</header>
	{% block content %}{% endblock %}
	<div class="footer">
			<p>Neerar.com - ©<span id="footer_date"></span></p>
	</div>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
